host-suffix, googleapis.com, proxy
host-suffix, instagram.com, proxy
host-suffix, cdninstagram.com, proxy
host-suffix, fbcdn.net, proxy
host-suffix, facebook.com, proxy
host-suffix, fb.com, proxy
host-suffix, twitch.tv, proxy
host-suffix, gstatic.com, proxy
host-keyword, google, proxy
ip-cidr, 10.0.0.0/8, direct
ip-cidr, 127.0.0.0/8, direct
ip-cidr, 172.16.0.0/12, direct
ip-cidr, 192.168.0.0/16, direct
ip-cidr, 224.0.0.0/24, direct
geoip, cn, direct
final, proxy
